## Phase 1 Project: 

Please fill out:
* Student name: Caroline Surratt
* Student pace: Self-Paced
* Scheduled project review date/time: _TBD_
* Instructor name: Morgan Jones
* Blog post URL: _TBD_

### Importing Data and Packages

In [13]:
import pandas as pd
import numpy as np
%matplotlib inline

In [14]:
#imported the data from the .csv file and specified dtype for columns with mixed dtypes
df = pd.read_csv("data/Aviation_Data.csv", \
                 dtype={'Latitude': object, 'Longitude': object, 'Broad.phase.of.flight': object})

#converted the dates to datetimes instead of objects
df['Event.Date'] = pd.to_datetime(df['Event.Date'])
df

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

### Data Cleaning

In [15]:
print(df.isna().sum())

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

Some of the columns in this dataset are missing a significant proportion of their entries. Not only is some of the data incomplete, some of this information is  outside the scope of my business recommendation. Therefore, several columns will be dropped from the dataset. A further explanation for each of the columns is included below.

* In this dataset, the **FAR Description** provides information about whether certain regulations applied to the flight (for example, agricultural regulations or foreign regulations). The regulations that the business is subject to will not be determined by the business and therefore analysis of this feature is unneccesary.


* Because the **Schedule** column contains information for less than 14% of the entries in this dataset, it does not make sense to include this feature. Additionally, I would have to make an assumption about the abbreviations used in this column (although it would be reasonable to assume that "SCHD" stands for "scheduled", "NSCH" stands for "unscheduled", and "UNK" stands for unknown). These three abbreviations do occur at roughly the same frequency in the entries, but the sample size is far too small for us to extrapolate this finding.


* The **Air Carrier** column also contains information for less than 20% of the entries in this dataset, and even the entries that do exist do not appear to be standardized: this information was entered as the name of the airline, the name of an individual, and even a generic title, such as "Pilot", "Private", or "Private Individual". I am not able to gain meaningful insight through the entries in this column.


* In addition to there not being location information (**Location, Latitude, Longitude, Airport Code, and Airport Name**) for many of the entries in this dataset, these features will be dependent on where the business conducts their commercial and private enterprises. Location is outside the scope of this recommendation.

* Finally **Publication Date** will not be a factor to consider, as it is not a factor that contributes to risk.

In [16]:
df.drop(['FAR.Description', 'Schedule', 'Air.carrier', 'Location', \
         'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Publication.Date'], axis=1, inplace=True)

In [17]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Country                    1685
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
Purpose.of.flight          7651
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
dtype: int64

The same number of entries are missing the Event Id, Accident Number, and Event ID, so I decided to explore this further.

In [18]:
print(df[df['Event.Id'].isna()].isna().sum())
df[df['Event.Id'].isna()].head(20)

Event.Id                  1459
Investigation.Type           0
Accident.Number           1459
Event.Date                1459
Country                   1459
Injury.Severity           1459
Aircraft.damage           1459
Aircraft.Category         1459
Registration.Number       1459
Make                      1459
Model                     1459
Amateur.Built             1459
Number.of.Engines         1459
Engine.Type               1459
Purpose.of.flight         1459
Total.Fatal.Injuries      1459
Total.Serious.Injuries    1459
Total.Minor.Injuries      1459
Total.Uninjured           1459
Weather.Condition         1459
Broad.phase.of.flight     1459
Report.Status             1459
dtype: int64

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Country,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,...,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
64030,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64050,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64052,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64388,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64541,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64552,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64570,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64591,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64593,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64725,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64747,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64758,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64792,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64856,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64867,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64881,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64900,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65064,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65116,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65132,NaN,25-09-2020,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Because these entries only tell us that there was an accident (but not the number of fatalities, the type of aircraft (including make/model), the weather, etc.), it does not make sense to include them in the analysis.

In [19]:
df.dropna(subset=['Event.Id'], inplace=True)
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Country                     226
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
Purpose.of.flight          6192
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
dtype: int64

In [20]:
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

Because the business is specifically interested in planes, I will also drop all of the entries that indicate they are other forms of aircraft. For now, I will leave in null values, as we may be able to infer whether they are airplanes later in the exploratory analysis using the "Make" and/or "Model" columns.

In [21]:
df['Aircraft.Category'] = df['Aircraft.Category'].fillna('Unknown')

In [22]:
df['Aircraft.Category'].value_counts()

Unknown              56616
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [23]:
df = df.loc[(df['Aircraft.Category']==('Airplane')) | (df['Aircraft.Category']==('Unknown'))]
df['Aircraft.Category'].value_counts()

Unknown     56616
Airplane    27617
Name: Aircraft.Category, dtype: int64

In [24]:
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Country                     221
Injury.Severity             933
Aircraft.damage            3018
Aircraft.Category             0
Registration.Number        1270
Make                         60
Model                        90
Amateur.Built               100
Number.of.Engines          5391
Engine.Type                5772
Purpose.of.flight          5494
Total.Fatal.Injuries      10855
Total.Serious.Injuries    12014
Total.Minor.Injuries      11479
Total.Uninjured            5732
Weather.Condition          3891
Broad.phase.of.flight     23478
Report.Status              5402
dtype: int64

Although there is still some missing information in our dataset, I will proceed with exploratory data analysis, as I have eliminated the columns that are not of importance to this analysis and the rows that do not contain enough information to be of value. When reviewing the safety of specific planes and the ways in which a particular factor (such as weather) affects safety, I will create cleaner subsets of the data to use.

### Exploratory Data Analysis